---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A handome picture of me"
	pubDate={new Date('October 19 2025')}
>
	<p>
		Hey guys, I'm Nahuel, a young platform enginner with a focus on building scalable, reliable infrastructure for engineering and data/ML teams.</p>
	<p>
		I work across cloud infrastructure, Kubernetes operations, and internal developer platforms — supporting teams with tools, automation, CI/CD, monitoring, and system reliability.
	</p>

	<p>
		Recently, I’ve contributed to projects enabling high-performance workloads for ML teams, including infrastructure migration and GPU support on baremetal clusters.
	</p>

	<p>
		Outside of work, I apply the same mindset to surfing and rugby: adaptability, discipline, and teamwork.
	</p>
</Layout>
