---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
<body>
  <Header />
  <main>
    <h1>👋 Hi, I'm Nahuel!</h1>
    <p>
      Welcome to my personal blog! Here I write about tech, DevOps, Platform engineering, SRE stuff and projects I'm passionate about.  
      This is my corner of the internet to share ideas, experiments, and things I learn along the way.
    </p>
    <p>Some ways to explore the blog:</p>
    <ul>
      <li>Read my latest posts on my <a href={`/blog`}>blog<a/>.</li>
      <li>Check out my projects on my <a href=`https://github.com/nahuel11500`>Github<a/>.</li>
      <li>Want to correct an error or add something ? Please, feel free to contribute here</li>
    </ul>
    <p>
      Want to connect ? You can reach me on  
      <a href="https://www.linkedin.com/in/nahuel-canavy-159109234/">LinkedIn</a>.
    </p>
    <p style="font-size:small; color:gray;">
      (This blog is built with <a href="https://astro.build/">Astro</a>!)
    </p>
  </main>
  <Footer />
</body>
</html>
